# Node.js
blog-api/node_modules/
blog-ui/node_modules/
npm-debug.log

# Environment variables
blog-api/.env
blog-ui/.env

# Docker
docker-compose.override.yml
.dockerignore

# Logs
logs/
*.log

# Miscellaneous
.DS_Store

# Build output
blog-ui/dist/
blog-api/dist/

# IDE files
blog-ui/.idea/
blog-ui/.vscode/
blog-ui/workspace.xml
blog-ui/vcs.xml
blog-api/.idea/
blog-api/.vscode/
blog-api/workspace.xml
blog-api/vcs.xml

/shelf/
# Editor-based HTTP Client requests
/httpRequests/
